<section class="resume-section p-2 p-lg-4 d-flex flex-column" id="experience">
  <div class="my-auto" id="experience-content">
    <h2 class="mb-1">Human languages</h2>
    {{ range .Site.Data.experience }}
        <div class="resume-item d-flex flex-column flex-md-row mb-1">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">{{ .role }}</h3>
            <p>{{ .summary }}</p>
          </div>
        </div>
    {{ end }}
  </div>

</section>
